#home{
    height: 120vh;
}

#home .image img {
    width: 100%;
    object-fit: cover;
}

#title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 650px;
}