/* Image container */
.image {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 2;
    width: 90%;
    max-width: 800px;
}


.features-section {
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1000px;
    z-index: 2;
    border-radius: 15px;
    padding: 20px !important;
}
.mb-2{
    padding-top: 40px;
}
