.navbar-nav {
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 300px;
    font-size: 14px;
    color: #fff !important;
}

.nav-item {
    padding-right: 20px;
    color: #fff !important;
}

.btn.btn-light {
    width: 150px;
    height: 40px;
    font-size: 12px;
    border-radius: 40px;

}
