.main-title2 {
    position: relative;
    margin-top: 3%;
    left: 40%;
    color: #888888;
    top: 20%;
    margin-bottom: 20px;
}

.card{
    height: 200px;
}

.card video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

