#section3 {
    position: relative;
    background-color: #1a1d20;
}

.card {
    background-color: #111;
    border-radius: 25px;
    border: 1px solid #222;
    padding: 40px !important;
    min-height: 370px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background: #5c636a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}


.card h4 {
    font-size: 28px;
    margin-bottom: 25px;
}

.card h1 {
    font-size: 60px;
}

.card p {
    font-size: 18px;
}

.icon-circle {
    width: 55px;
    height: 55px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon-circle img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.title-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
