.gallery-section {
    padding-top: 100px;
}

.gallery-title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: 700;
}

.collage-grid {
    display: grid;
    grid-template-areas:
        "a b d"
        "c c d";
    gap: 16px;
}


.item-a { grid-area: a; }
.item-b { grid-area: b; }
.item-c { grid-area: c; position: relative; }
.item-d { grid-area: d; }

.collage-grid img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 14px;
    display: block;
    background: #000;
    box-shadow: 0 6px 25px rgba(0,0,0,0.35);
}

.more-badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #fff;
    color: #111;
    padding: 5px 12px;
    border-radius: 18px;
    font-weight: 700;
    font-size: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.35);
    pointer-events: none;
}

.collage-grid figure:hover img {
    transform: scale(1.02);
    transition: 0.25s ease;
}

@media (max-width: 768px) {
    .collage-grid {
        grid-template-areas:
            "a"
            "b"
            "d"
            "c";
    }

    .collage-grid img {
        height: 180px;
    }
}

.grid-item.item-c{
    top: -10%;
}