#section6 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-weight: 700;
    color: #fff;
}

.carousel-nav .nav-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
background-color: white;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s;
}

.carousel-nav .nav-btn:hover {
    background: white;
}


.feature-card {
    position: relative;
    height: 330px;
    border-radius: 18px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    filter: brightness(0.85);
}


.feature-card .bg-video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.55);
    pointer-events: none;
}


.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
}

.card-content .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.card-content .desc {
    font-size: 0.95rem;
    color: rgba(255,255,255,0.85);
    margin-top: 3px;
}


.feature-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.1));
    z-index: 1;
}
