.section4-container {
    padding-bottom: 80px;
}

.feature-card2,
.small-feature-card {
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    width: 100%;
}


.big-card video,
.big-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-box {
    padding: 20px;
    text-align: center;
}

.small-card {
    padding: 20px;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card img {
    width: 80%;
    margin: 15px auto 0 auto;
    display: block;
}

.small-card h5 {
    font-size: 20px;
    font-weight: 600;
}

.small-card p {
    font-size: 14px;
    color: #c9c9c9;
}

.small-card {
    background: #111;
    padding: 25px;
    border-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card img {
    width: 90%;
    margin: 20px auto 0;
    display: block;
}

.small-card1 {
    background: #111;
    color: white;
    padding: 25px;
    border-radius: 16px;
    height: 47%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.small-card2 {
    background: #111;
    color: white;
    padding: 25px;
    border-radius: 16px;
    height: 47%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

