
.gallery-title2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.colour-box {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: linear-gradient(180deg, #c79f6f, #b38455);
    border-radius: 25px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bike-img {
    width: 75%;
    max-width: 700px;
    object-fit: contain;
}


